<footer>
    <div class="footer_row row_1">
        <button class="footer_button footer_button_start">Internal VS External</button>
        <button class="footer_button">Use of AI and Plagiarism</button>
        <button class="footer_button footer_button_end">Use of AI and Plagiarism</button>
    </div>
    <div class="footer_row row_2">
        <button class="footer_button footer_button_start">Exam Rules</button>
        <button class="footer_button">Extensions</button>
        <button class="footer_button footer_button_end">Extensions</button>
    </div>
    <div class="footer_row row_3">
        <button class="footer_button footer_button_start">Study Tips</button>
        <button class="footer_button">Level Endorsement</button>
        <button class="footer_button footer_button_end">Level Endorsement</button>
    </div>
    <h2 class="copyright">&copy; 2025 Sebastian Johnstone</h2>
</footer>