.content {
    margin: auto;
    background-color: #D6CFB4;
    width: 75vw;
    height: 83vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
    display: flex;
    flex-direction: column;
}

.introduction {
    text-align: center;
    font-size: 2.5em;
    margin-top: 4vh;
}

.intro_sub {
    margin-top: 2vh;
    font-size: 1.75em;
    text-align: center;
}

.content_image {
    width: 60vw;
    margin: auto;
}

.content_button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
}

.content_buttons {
    width: 6vw;
    height: 6vh;
    font-size: 1.4em;
    background-color: #FCBC2f;
}