<!DOCTYPE html>
<html>
    <head>
        <title>Forum - {{ content["title"] }}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style/main.css') }}">
    </head>
    <body>
        {% include 'includes/header.html' %}
        <div class="container">
            <div class="post_header">
                <div class="post_header_title">
                    <h2 class="post_header_title_text">{{ content["title"] }}</h2>
                </div>
                <div class="post_info_container">
                    <div class="post_header_profile">
                        <img src="{{ url_for('static', filename='content/profile.png')}}" height="80%" class="profile_picture margin_auto">
                    </div>
                    <div class="post_header_info">
                        <h2 class="post_header_info_text">By: {{ content["user"][0] }}</h2>
                        <h2 class="post_header_info_text">Posted: {{ content["date"] }}</h2>
                    </div>
                    <div class="post_info_share">
                        <h2 class="post_header_info_text">Share</h2>
                    </div>
                </div>
            </div>
            <div class="post_comments">
                <div class="post_comment">
                    <div class="post_comment_profile">
                        <img src="{{ url_for('static', filename='content/profile.png')}}" height="50%" class="profile_picture comment_pfp">
                        <h2 class="comment_profile_info">{{ content["user"][0] }}</h2>
                        <h2 class="comment_profile_info">{{ content["user"][2] }}</h2>
                    </div>
                    <div class="comment_content">
                        <h2 class="comment_text">{{ content["comment"] }}</h2>
                    </div>
                </div>
                {% if comments["comments"] %}
                    {% for comment in comments["comments"] %}
                        <div class="post_comment">
                            <div class="post_comment_profile">
                                <img src="{{ url_for('static', filename='content/profile.png')}}" height="50%" class="profile_picture comment_pfp">
                                <h2 class="comment_profile_info">{{ comment["user"][0] }}</h2>
                                <h2 class="comment_profile_info">{{ comment["user"][2] }}</h2>
                            </div>
                            <div class="comment_content">
                                <h2 class="comment_text">{{ comment["content"] }}</h2>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        {% include 'includes/footer.html' %}
    </body>
</html>