<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>NCEA Blog</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style/index.css') }}">
    </head>
    <body>
        <header>
            <div class="header_container">
                <div class="header_top">
                    <h1 class="school_name">HERETAUNGA COLLEGE</h1> 
                    <img class="header_image" src="{{ url_for('static', filename='content/header.png') }}">
                    <form class="search_form">
                        <input type="search" placeholder="Search"  class="search_input">
                    </form>
                </div>
                <div class="nav_bar">
                    <button class="nav_buttons">Home</button>
                    <button class="nav_buttons">Level 1</button>
                    <button class="nav_buttons">Level 2</button>
                    <button class="nav_buttons">Level 3</button>
                    <button class="nav_buttons">NCEA</button>
                    <button class="nav_buttons">Forum</button>
                    <button class="nav_buttons nav_account nav_login">Log In</button>
                    <button class="nav_buttons nav_account nav_signup">Sign Up</button>
                </div>                
            </div>
        </header>
        <div class="container">
            <div class="post_header">
                <div class="post_header_title">
                    <h2 class="post_header_title_text">UE Entrance Credits</h2>
                </div>
                <div class="post_info_container">
                    <div class="post_header_profile">
                        <img src="{{ url_for('static', filename='content/profile.png')}}" height="80%" class="profile_picture margin_auto">
                    </div>
                    <div class="post_header_info">
                        <h2 class="post_header_info_text">By: User</h2>
                        <h2 class="post_header_info_text">Posted: Yesterday</h2>
                    </div>
                    <div class="post_info_share">
                        <h2 class="post_header_info_text">Share</h2>
                    </div>
                </div>
            </div>
            <div class="post_comments">
                <div class="post_comment">
                    <div class="post_comment_profile">
                        <img src="{{ url_for('static', filename='content/profile.png')}}" height="50%" class="profile_picture comment_pfp">
                        <h2 class="comment_profile_info">User</h2>
                        <h2 class="comment_profile_info">Level 3</h2>
                    </div>
                    <div class="comment_content">
                        <h2 class="comment_text">Hi, I only have 10 writing credits, and no reading credits. For Univesity Entrace, can I use some of my writing credits in place of my reading credits?</h2>
                    </div>
                </div>
            </div>
            <div class="post_comments">
                <div class="post_comment">
                    <div class="post_comment_profile">
                        <img src="{{ url_for('static', filename='content/profile.png')}}" height="50%" class="profile_picture comment_pfp">
                        <h2 class="comment_profile_info">Mr User</h2>
                        <h2 class="comment_profile_info">Educator</h2>
                    </div>
                    <div class="comment_content">
                        <h2 class="comment_text">Hi User...</h2>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="footer_row1">
                <button>Internal VS External</button>
                <button>Use of AI and Plagiarism</button>
                <button>Use of AI and Plagiarism</button>
            </div>
            <div class="footer_row2">
                <button>Exam Rules</button>
                <button>Extensions</button>
                <button>Extensions</button>
            </div>
            <div class="footer_row2">
                <button>Study Tips</button>
                <button>Level Endorsement</button>
                <button>Level Endorsement</button>
            </div>
        </footer>
    </body>
</html>