<!DOCTYPE html>
<html>
    <head>
        <title>NCEA Forum | Sign Up</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style/main.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style/accounts.css') }}">
        <script src="{{ url_for('static', filename='scripts/main.js') }}"></script> 
        <link rel="icon" type="images/x-icon" href="{{ url_for('static', filename='content/favicon.ico') }}">
    </head>
    <body>
        {% include 'includes/header.html' %}
        <div class="container {% if already_exists or password_error %} container_mod {% endif %}">
            <h2 class="account_header">Sign Up</h2>
            <form method="post" action="/signup" class="account_form">
                <input type="email" name="email" placeholder="Email" class="account_input" required>
                <br>
                <input type="text" name="username" placeholder="Username" class="account_input" maxlength="35" required>
                <br>
                <input type="password" name="password" placeholder="Password" class="account_input" required>
                <br>
                <input type="password" name="confirm-password" placeholder="Confirm Password" class="account_input" required>
                <br>
                <select class="account_input" name="role" required>
                    <option value="" disabled selected>Select a Role</option>
                    <option value="1">Level 1</option>
                    <option value="2">Level 2</option>
                    <option value="3">Level 3</option>
                    <option value="4">Past Student</option>
                    <option value="5">Educator</option>
                </select>
                <br>
                <input class="account_submit" type="submit" value="Sign Up">
                {% if already_exists %}
                    <h3 class="error">The Email and/or Username already exists.</h3>
                {% elif password_error %}
                    <h3 class="error">Passwords do not match.</h3>
                {% elif bad_char %}
                    <h3 class="error">Username contains illegal character/s, only a-z, A-Z, 0-9, and _ allowed.</h3>
                {% endif %}
                <br>
            </form>
        </div>
        {% include 'includes/footer.html' %}
    </body>
</html>